mat-card {
  margin: 20px;
  padding: 20px;
  width: 500px;
  text-align: center;
}

mat-card:hover {
  cursor: pointer;
}

.big-prize {
  background: rgb(216, 74, 59);
  background: linear-gradient(
    rgba(216, 74, 59, 1) 0%,
    rgba(162, 29, 45, 1) 100%
  );
}

.small-prize {
  background: rgb(69, 154, 201);
  background: linear-gradient(
    rgba(69, 154, 201, 1) 0%,
    rgba(24, 102, 154, 1) 100%
  );
}

.unavailable {
  background: gray;
}

.unavailable:hover {
  cursor: default;
}
