<div class="content-wrapper">
  <img src="../../assets/images/deal_or_no_deal_logo.png" alt="" />
  <hr />
</div>

<div class="parent">
  <div class="child">
    <h2>
      Number of Available Small Prizes =
      {{ this.prizeService.numberOfSmallPrizesAvailable }}
    </h2>
    <app-prize
      *ngFor="let smallPrize of this.prizeService.getAllSmallPrizes()"
      [prize]="smallPrize"
      (bankerCall)="bankerCall()"
    ></app-prize>
  </div>
  <div class="child">
    <h2>
      Number of Available Big Prizes =
      {{ this.prizeService.numberOfBigPrizesAvailable }}
    </h2>
    <app-prize
      *ngFor="let bigPrize of this.prizeService.getAllBigPrizes()"
      [prize]="bigPrize"
      (bankerCall)="bankerCall()"
    ></app-prize>
  </div>
</div>
