img {
  width: 10vw;
}

.content-wrapper {
  margin: 20px;
  text-align: center;
}

.parent {
  display: flex;
  justify-content: space-evenly;
  flex-wrap: wrap;
}

.child {
  width: 40%;
}

h2 {
  text-align: center;
}
