<div class="content-wrapper">
  <img src="../../assets/images/deal_or_no_deal_phone.png" alt="" />
  <h1>The banker is calling!</h1>

  <h2 *ngIf="this.prizeService.getAllAvailablePrizes().length == 1">
    He is offering you the Gamble Box. Would you like to switch "{{
      this.prizeService.getAllAvailablePrizes()[0].name
    }}" for the Gamble Box?
  </h2>

  <div mat-dialog-actions>
    <button mat-button class="deal" (click)="click(true)">
      <mat-icon>check</mat-icon>
      Deal
    </button>
    <button mat-button class="no-deal" (click)="click(false)">
      <mat-icon>close</mat-icon>
      No Deal
    </button>
  </div>
</div>
